[http]
	emptyAuth = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Bill Magill
	email = 35304879+wmagill4@users.noreply.github.com
